.header {
	max-width: 100%;
	/*position: relative;*/
	margin: 0 auto;
}

.header_container {
	width: 100%;
	padding: 16px 30px;
	position: absolute;
	top: 0;
	left: 50%;
	max-height: 88px;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
}

.logo_block {
	display: block;
	cursor: pointer;
}

.header_logo_img {}

.header_nav {}

.header_nav_list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.header_items {
	position: relative;
}

.header_items:hover .header_portfolio_list,
.header_lang:hover .lang_list {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
}

.header_item_link,
.lang_selector {
	position: relative;
	display: flex;
	gap: 5px;
	z-index: 5;
}

.header_item_link:hover,
.header_item_link:active {
	color: var(--main-orange);
}

/* submenu */
.header_portfolio_list,
.lang_list {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	left: -20px;
	top: -11px;
	padding: 45px 20px 15px 20px;
	box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
	background: #fff;
	gap: 5px;
	transition: opacity 0.3s ease, visibility 0.3s ease, pointer-events 0.3s;
}

.header_portfolio_item {}

.header_portfolio_link {
	font-weight: 300;
	font-size: 14px;
	line-height: 143%;
	color: var(--second-txt-light);

}

.header_portfolio_link:hover,
.header_portfolio_link:active,
.lang_id:hover,
.lang_id:active {
	color: var(--main-orange);
}


.header_end {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 380px;
}

.header_lang {
	position: relative;
}

.header_lang li {
	text-align: center;
}

.lang_selector {
	text-align: center;
	margin: 0;
	padding: 0;
	min-width: 62px;
}

.lang_id {
	font-weight: 300;
	font-size: 16px;
	line-height: 162%;
	color: var(--second-txt-light);
}

.search_button {
	display: flex;
	gap: 5px;
	background-color: var(--main-orange);
	color: var(--button-txt-light);
	font-weight: 700;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 18px 30px;
	width: 196px;
}

.search_button span {
	display: inline;
}

/* hero */
.hero {
	background-image: url('/img/hero-img.jpg');
	background-repeat: no-repeat;
	background-position: center;
	min-height: 832px;
}

.hero .container {
	margin-top: 88px;
	padding: 0 30px;
}

.hero_title {
	padding-top: 68px;
	padding-left: 68px;
}

.hero_title,
.txt-rotate {
	color: var(--button-txt-light);
	font-weight: 700;
	font-size: 38px;
	line-height: 143%;
	letter-spacing: 0.05em;
}

.hero_wrap {
	border-right: 0.1em solid var(--button-txt-light);
}