.header {
	max-width: 100%;
	position: relative;
	margin: 0 auto;
}

.header_container {
	width: 100%;
	padding: 16px 30px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
}

.logo_block {
	display: block;
	cursor: pointer;
}

.header_logo_img {}

.header_nav {}

.header_nav_list {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
}

.header_items {}

.header_item_link {}

.header_end {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header_lang li {
	text-align: center;
}

.lang_selector {
	display: block;
	text-align: center;
	margin: 0;
	padding: 0;
	min-width: 135px;

}

.lang_id {}

.search_button {
	display: inline-block;
	background-color: var(--main-orange);
	color: var(--button-txt-light);
	font-weight: 700;
	font-size: 14px;
	line-height: 143%;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	padding: 18px 30px;
	width: 196px;
}

.search_button span {
	display: inline;
}